body {
	background-image: url("../images/metal_grate.jpg");
	/* background-repeat: no-repeat;
	background-size: cover; */
}

.jumbotron {
	background-color: #686868;
	margin-top: 20px;
}

.headingText {
	color: white;
}

h1 {
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

.panel-primary {
	border-color: #686868;
}

#panel-color {
	background-color: #686868;
}

#add-train {
	background-color: #686868;
}

.form-control {
	margin-bottom: 16px;
}